<!-- grid container -->
<div class="grid grid-cols-1 grid-rows-3 gap-4">
  <h1 class="col-span-1 text-3xl text-center">DJ Internet</h1>
  <div class="col-span-1 row-span-2 text-center">
    <p class="h-full flex justify-center items-center">salut</p>
  </div>
  <!-- form container -->
  <div class="flex justify-center">
    <div class="flex items-center border-b border-b-2 border-teal-500 py-2 w-1/2">
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Entrez le nom de votre soirée" aria-label="Youtube Link">
      <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
        Let's Go !
      </button>
    </div>
  </div>
</div>
