<!-- grid container -->
<div class="grid grid-cols-1 gap-4">
  <!-- Room name block -->
  <div class="col-span-1">
    <%= @room.name %>
  </div>
  <!-- search bar block -->
  <div class="col-span-1">

  </div>
</div>
