<!-- display each music title to the dom -->
<li id="next-music" data-videoid="<%= music.url %>">
  <p class="bg-indigo-800 py-2 px-4 my-2 border-t border-b border-gray-800"><%= music.title %></p>
</li>
