<!-- display each music title to the dom -->
<li id="next-music" data-videoid="<%= music.url %>">
  <p class="playlist-card py-3 px-4 border-b border-gray-400 text-orange-200"><%= music.title %></p>
</li>
